# Wildcard files
Logs/*.log
Logs/*.zip
Logs/*.7z
Reports/*.7z
Reports/*.csv
Reports/*.html
Reports/*.md
Reports/*.txt
Reports/*.xml
Reports/*.zip
Releases/*.7z
Releases/*.zip

# Explicit files
Config/User*.psd1
PoSh-Backup-AI-Bundle.txt
